@font-face {
  font-family: "Galano";
  src: url("../GALANO/Galano\ Grotesque.otf");
}
@font-face {
  font-family: "GalanBold";
  src: url("../GALANO/Galano\ Grotesque\ Bold.otf");
}

a{
  text-decoration: none;
}

input:focus{
  outline: 2px solid var(--main-bg-color-1);

}

textarea:focus{
  outline: 2px solid var(--main-bg-color-1);
}
body {
  margin: 0;
  display: flex;
  font-family: "Galano", sans-serif;
  flex-direction: column;
}

:root {
  --main-bg-color: #542583;
  --main-bg-color-1: rgb(255, 225, 0);
}

.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: var(--main-bg-color);
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.menu.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

/* Estilos adicionales para el aspecto visual del menú fijo */
.menu.fixed {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega sombra si lo deseas */
}

#logoMed {
  width: 100px;
  margin-left: 20px;
}
.enlaces {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.enlaces a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.redes {
  overflow: hidden;
  position: fixed;
  top: 80%;
  right: 0;
  z-index: 999;
  background-image: url("../imagenes/nsredes.webp");
  height: 100px;
  background-size: 100% 100%;
  width: 130px;
  justify-content: center;
  display: flex;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition: all 0.5s ease;
}

.redes img {
  width: 30px;
}

#interno {
  width: 120px;
  gap: 5px;
  border-radius: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease;
  display: flex;
  background: #542583;
  transform: translateX(100%);
  rotate: 3deg;
}

.redes:hover #interno {
  opacity: 1;
  transform: translateX(0);
}

.hero {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}


/* video de fondo */



#player{
  position: absolute;
  width: 120%;
  height: 100%;
  inset: 0;
  transform: translateX(-10%);
  z-index: -1;
  display: flex;
}

#manto2{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00000a90;
}


.carr {
  display: flex;
  align-items: flex-end;
  width: 50vw;
}

.carr img {
  width: 50vw;
}

.txthero {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: center;
}

.txthero h1 {
  display: flex;
  flex-direction: column;
  color: var(--main-bg-color-1);
  font-size: clamp(22px, 8vh, 40px);
  position: relative;
}

.txthero span {
  font-family: "GalanBold", sans-serif;
    font-size: clamp(22px, 8vh, 60px);
  font-weight: 300;
}

.txthero h1::after {
  content: "";
  width: 20%;
  height: 100%;
  border-bottom: 5px solid #fff;
  position: absolute;
}

.sAlbert {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}
.imgalbert{
  width: 40vw;
  display: flex;
  align-items: flex-end;
}

.sAlbert img {
  width: 95%;
}

.txtsAlbert {
  width: 50vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.txtsAlbert h2 {
  font-size: 3rem;
  color: var(--main-bg-color);
  margin: 0;
}

.txtsAlbert p {
  color: #00000a90;
  font-size: 20px;
}

.txtsAlbert span {
  color: var(--main-bg-color);
  font-family: "GalanBold";
}

.txtsAlbert button {
  align-self: center;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  width: 300px;
  height: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--main-bg-color);
  color: #fff;
  font-size: 2rem;
  border: none;
}

.txtsAlbert strong{
    color: var(--main-bg-color-1);
    font-weight: 800;
}

.txtsAlbert button{
  transition: all .3s ease-in-out;
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(353deg) rotateY(356deg) rotateZ(14deg) translateX(0px) translateY(0px) translateZ(22px) skewX(6deg) skewY(340deg);
}

.txtsAlbert button:hover{
  transform: scaleX(1.1) scaleY(1.1) scaleZ(1) rotateX(360deg) rotateY(350deg) rotateZ(14deg) translateX(0px) translateY(0px) translateZ(22px) skewX(3deg) skewY(342deg);
}

/* Seccion de voluntarios */

@keyframes entradaform {
  0%{
    clip-path: circle(4.2% at 49% 100%);
  }
 
  100%{
    clip-path: circle(112.6% at 48% 100%);
  }
}

#voluntform{
  display: none;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  animation: entradaform .8s ease;
  padding: 30px;
  background: var(--main-bg-color);
  border-radius: 150px 10px 10px 10px ;
}

#voluntform h2{
  font-family: 'GalanBold';
  color: #fff;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}

#voluntform input{
  height: 40px;
  padding: 0 10px;
  background: transparent;
  border: 2px solid #f6f6f6;
  border-radius: 4px;
  color: #fff;
  font-size: 17px;
}

#voluntform input::placeholder{
  color: #fff;
}


#btnenvio{
  width: 200px;
  align-self: center;
  background: var(--main-bg-color-1) !important;
  color: #000 !important;
  border: none !important;
  font-size: 17px;
  transition: all .3s;
}

#btnenvio:hover{
  background: #fff !important;
  color: var(--main-bg-color);
}


.volun{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:linear-gradient(-90deg,#000, #00000a80) ,url('../imagenes/Capa_1-2-6.webp');
}
.tarjeta{
  display: flex;
  width: 50vw;
  align-items: flex-end;  
}

.tarjeta article{
  background: linear-gradient(90deg, var(--main-bg-color-1), rgb(255, 200, 0), var(--main-bg-color-1)) ;
  padding: 20% 10%;
  border-radius: 0 400px 0 0;
}

.tarjeta article h2{
  font-family: 'GalanBold',sans-serif;
  font-size: 3rem;
  color: var(--main-bg-color);
  margin: 3px;
}

.tarjeta article p{
  font-size: 
  22px;
}

.btnvol{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-end;
  width: 50vw;
  padding-bottom:10%;
}

.btnvol button{
  width: 200px;
  height: 70px;
  font-size: 22px;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  font-family: 'GalanBold',sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}

.btnvol button:hover{
  background: var(--main-bg-color-1);
  color: var(--main-bg-color);
  border: none;
}

.events{
  display: flex;
  min-height: 70vh;
  width: 100%;
}

.event{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  flex-direction: column;
}

.event article{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.event article h2{
  font-size: 3rem;
  color: var(--main-bg-color);
  margin: 0;
}
.event article p{
  font-size: 1.1rem;
}

.event article button{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  padding: 10px;
  border: none;
  background: var(--main-bg-color);
  color: #fff;
  font-weight: 600;
  margin-top: 20px;
}

.eventimg{
  display: flex;
  width: 50vw;
}

.event article span{
  display: flex;
  gap: 6px;
  align-items: center;
}

.event article span img{
  width: 18px;
}

.eventimg{
  display: flex;
  width: 50vw;
  justify-content: flex-end;
}

.corrart{
  width: 49.3vw;
  height: 500px;
  border-bottom: 20px solid var(--main-bg-color);
  border-left: 2px solid var(--main-bg-color);
  border-radius: 0 0 0 4400px;
  background-position: center;
  background-size: cover;
  position: relative;
  background: var(--main-bg-color);
}

#imgcorredor{
  position: absolute;
  width: 99.7%;
  height: 100%;
  border-bottom: 20px solid var(--main-bg-color);
  border-left: 2px solid var(--main-bg-color);
  border-radius: 0 0 0 4400px;
  background-image: linear-gradient(#00000a60,#00000a80),url(../imagenes/Fotos/evento.webp);
  background-position: center;
  background-size: cover;
}


/* seccion de la galeria */

.galeria{
  min-height: 50vh;
  display: flex;
  width: 100%;
  align-items:center;
  justify-content: flex-start;
}

.corte{
  display: flex;
  width: 50vw;
  overflow: hidden;
}

#carrusel{
  display: flex;
  height: 400px;
  gap: 10px;
  margin: 0;
  align-items: center;
  animation: carrusel 30s linear infinite;
}

#carrusel span{
  content: '';
  width: 300px;
  height: 250px;
  border-radius: 7px;
  background-position: center;
  background-size: 200%;
}

@keyframes carrusel {
  0%{
    transform: translateX(-50%);
  }
  100%{
    transform: translateX(0);
  }
}

.txtGaleria{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
}

.txtGaleria article{
  width: 80%;
}

.txtGaleria strong{
  color: var(--main-bg-color-1);
}

.txtGaleria h2{
  color: var(--main-bg-color);
  font-size: 3rem;
  margin: 0;
}
.txtGaleria p{
  font-size: 1.1rem;
}

.txtGaleria button{
  width: 200px;
  padding: 10px;
  border: none;
  background: var(--main-bg-color);
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
  z-index: -1;
}

/* responsive */

@media (max-width:1500px){
  #player{
    width: 150vw;
    height: inherit;
  }
}


@media (max-width:760px){
  .enlaces{
    display: none;
  }

  .txthero{
    width: 100vw;
    text-align: center;
    flex-direction: column;
  }

  #player{
    width: 300vw;
    height: inherit;
    transform: translateX(-35%);
  }
.contador img{
  width: 80%;
}
.sAlbert{
  flex-direction: column-reverse;
  align-items: center;
}

.txtsAlbert{
  width: 90vw;
  align-items: center;
}

.imgalbert{
 width: 70vw; 
}

.volun{
  flex-direction: column;
  align-items: flex-end;
}

.tarjeta{
  width: 100vw;
}
.tarjeta article{
  border-radius: 0 0 100px 100px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10%;
}

.tarjeta article h2{
  font-size: clamp(25px,8vh,40px);
}
.tarjeta article p{
  font-size: clamp(18px,3vh,28px);
  text-align: center;
}

.btnvol{
  align-self: center;
  margin-top: 60px;
}
#voluntform{
  width: 80vw;
}

.events{
  flex-direction: column-reverse;
  gap: 40px;
}
.eventimg{
  width: 100%;
  border-radius: 0 0 400px 0;
}

.corrart{
  width: 100%;
  height: 250px;
  border-radius: 0 0 400px 0;
}

#imgcorredor{
  border-radius: 0 0 400px 0;
}
.event{
  width: 90vw;
}

.galeria{
  flex-direction: column;
}

.corte{
  width: 100%;
}

.txtGaleria{
  width: 90vw;
  margin-bottom:100px ;
}
}