@font-face {
  font-family: "Galano";
  src: url("../GALANO/Galano\ Grotesque.otf");
}
@font-face {
  font-family: "GalanBold";
  src: url("../GALANO/Galano\ Grotesque\ Bold.otf");
}

@font-face {
  font-family: "GalanLight";
  src: url("../GALANO/Galano\ Grotesque\ Alt\ Light.otf");
}

section{
  transition: all 2s ease;
  opacity: 0;
  transition: all 1s ;
  height: 100%;
  scroll-snap-align: start;
  
}


a {
  text-decoration: none;
}



input:focus {
  outline: none;
}

textarea:focus {
  outline:none;
}
body {
  margin: 0;
  display: flex;
  font-family: "Galano", sans-serif;
  flex-direction: column;
  overflow-x: hidden;
  width: calc(100% - 50px);
  float: right;
  position: relative;
  scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 5px;
  background: var(--main-bg-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--main-bg-color-1);
  width: 90%;
}

:root {
  --main-bg-color: #542583;
  --main-bg-color-1: rgb(255, 225, 0);
}

.menulat{
  border-right: 1px solid var(--main-bg-color);
  width: 48px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  flex-direction: column;
  background-color: #f6f6f6;
}

.menulat svg{
  cursor: pointer;
}

.menu{
position: absolute;
display: none;
flex-direction: row;
width: 100%;
height: 100vh;
background: linear-gradient(45deg,#DCC2FD, #F9F8F8);
justify-content: center;
z-index: 999;
margin: 0;
align-items: center;
}

.menu-img{
  display: flex;
  align-self: flex-end;
}

.menu-img img{
  width: 35vw;
}

#logoMed {
  width: 100px;
  margin-left: 50px;
  position: absolute;
  inset: 20px;
}
.enlaces {
  display: flex;
  gap: 10px;
  width: 30vw;
  flex-direction: column;
}


.enlaces a:first-child{
  position: relative;
  display: flex;
}

.enlaces a:first-child::after{
  content: '';
  position: absolute;
  width: 20%;
  height: 1px;
  background: #ffff00ca;
  bottom: 0;
  box-shadow:  0 0 10px 1px var(--main-bg-color);
}

.enlaces a:hover{
  text-shadow: 0 0 4px  var(--main-bg-color-1);
}

.enlaces a {
  color: var(--main-bg-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: clamp(25px,8vw,35px);
}


.nav-redes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  justify-self: flex-end;
  position: absolute;
  bottom: 10px;
}

.nav-redes img{
  width: 30px;
}


.redes {
  overflow: hidden;
  position: fixed;
  top: 80%;
  right: 0;
  z-index: 999;
  background-image: url("../imagenes/nsredes.webp");
  height: 100px;
  background-size: 100% 100%;
  width: 130px;
  justify-content: center;
  display: flex;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition: all 0.5s ease;
}

.redes img {
  width: 30px;
}

#interno {
  width: 120px;
  gap: 5px;
  border-radius: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease;
  display: flex;
  background: #542583;
  transform: translateX(100%);
  rotate: 3deg;
}

.redes:hover #interno {
  opacity: 1;
  transform: translateX(0);
}

.hero {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #f6f6f6;
  justify-content: center;
  gap: 30px;
}

/* video de fondo */

#player {
  position: absolute;
  min-width: 200%;
  min-height: 160%;
  inset: 0;
  transform: translateX(-20%);
  z-index: -1;
  display: flex;
}

#manto2 {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00000a90;
}

.carr {
  display: flex;
  align-items: flex-end;
  width: 50vw;
}

.carr img {
  width: 50vw;
}

.txthero {
  display: flex;
  width: 40vw;
  align-items:flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.txthero h1 {
  display: flex;
  flex-direction: column;
  color: var(--main-bg-color);
  font-size: clamp(22px, 8vh, 40px);
  position: relative;
  margin: 0;
}

.txthero p{
  font-size: 15px;
  color: #000;
}

.txthero button{
  border: none;
  background: var(--main-bg-color);
  color:var(--main-bg-color-1);
  padding: 10px;
  border-radius: 3px;
  font-size: 20px;
  font-family: 'Galano',sans-serif;
  font-weight: 600;
}

.imghero{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imghero img{
  width: 30vw;
}
.txthero span {
  font-family: "GalanBold", sans-serif;
  font-size: clamp(22px, 8vh, 60px);
  font-weight: 300;
}

.txthero h1::after {
  content: "";
  width: 20%;
  height: 3px;
  background: linear-gradient(90deg,var(--main-bg-color-1) 80%,#b39802);
  transform: skewX(-25deg);
  position: absolute;
  bottom: -10px;
}

.sAlbert {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  animation: boingInUp 1s ease;
}
.imgalbert {
  width: 40vw;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.sAlbert img {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.imgalbert::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background-image: url("../imagenes/svg/fondo.webp");
  z-index: -1;
  animation: move 3s ease-in-out infinite;
  background-size: 100% 100%;
  inset: 40% -10%;
}

@media (max-width:1500px) {
  .imgalbert::before{
    width: 500px;
    height: 500px;
  }
}

@media (max-width:1200px) {
  .sAlbert{
    justify-content: space-between;
  }
  .imgalbert{
    width: 50vw;
  }
  .sAlbert img{
    width: 100%;
  }
}
@media (max-width:990px) {
  .sAlbert{
    flex-direction: column-reverse;
    align-items: center !important;
  }
  .txtsAlbert{
    width: 90vw !important;
    padding: 30px !important;
  }
  .txtsAlbert a{
    display: flex;
    justify-content: center;
  }
}

@media (max-width:580px) {
  .imgalbert::before{
    width: 300px;
    height: 300px;
    inset: 46% -10%;
  }
}
@media (max-width:350px) {
  .imgalbert::before{
    width: 200px;
    height: 200px;
    inset: 46% -10%;
  }
}

@media (max-height:720px){
  .sAlbert{
    align-items: flex-end;
  }
  .txtsAlbert{
    padding: 0 20px 70px 20px;
    
  }
  
}

@keyframes rotate {
  0%{
    rotate: 0deg;
  }
  100%{
    rotate: 360deg;
  }
}

@keyframes move {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes boingInUp {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(-90deg);
    transform: perspective(800px) rotateX(-90deg);
  }
  50% {
    opacity: 1;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(50deg);
    transform: perspective(800px) rotateX(50deg);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(0deg);
    transform: perspective(800px) rotateX(0deg);
  }
}

.txtsAlbert {
  width: 50vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px 50px 20px;
}

.txtsAlbert h2 {
  font-size: 3rem;
  color: var(--main-bg-color);
  margin: 0;
}

.txtsAlbert p {
  color: #00000a90;
  font-size: 20px;
}

.txtsAlbert span {
  color: var(--main-bg-color);
  font-family: "GalanBold";
}

.txtsAlbert button {
  align-self: center;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  width: 300px;
  height: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--main-bg-color);
  color: #fff;
  font-size: 2rem;
  border: none;
  position: relative;
  
}

.txtsAlbert a{
  padding-left: 40px;
}

.txtsAlbert button::before{
  content: '';
  width: 150%;
  height: 150%;
  left: -80px;
  position: absolute;
  background-image: url('../imagenes/svg/flechas.webp');
  background-size: 100% 100%;
  clip-path: polygon(0 0, 31% 0, 30% 47%, 0 48%);
  transition: all .6s ease;
}

.txtsAlbert button:hover::before{
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}

.txtsAlbert strong {
  color: var(--main-bg-color-1);
  font-weight: 800;
}

.txtsAlbert button {
  transition: all 0.3s ease-in-out;
  transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(353deg) rotateY(356deg)
    rotateZ(14deg) translateX(0px) translateY(0px) translateZ(22px) skewX(6deg)
    skewY(340deg);
}

.txtsAlbert button:hover {
  transform: scaleX(1.1) scaleY(1.1) scaleZ(1) rotateX(360deg) rotateY(350deg)
    rotateZ(14deg) translateX(0px) translateY(0px) translateZ(22px) skewX(3deg)
    skewY(342deg);
}

/* Seccion de voluntarios */

@keyframes entradaform {
  0% {
    clip-path: circle(4.0% at 100% 0);
  }

  100% {
    clip-path: circle(141.7% at 100% 0);
  }
}

#voluntform {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  animation: entradaform 0.8s ease;
  padding: 60px 30px 30px 30px;
  background: var(--main-bg-color);
  border-radius: 150px 150px 10px 10px;
  margin-top: 70px;
}

#voluntform p {
  color: #f6f6f6;
  font-size: 14px;
}

#voluntform h2 {
  font-family: "GalanBold";
  color: #fff;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  margin: 0;
}

#voluntform input,
select {
  box-shadow: 0 0 6px #00000a60;
}

#voluntform select {
  background: transparent;
  color: #00000a80;
  border: none;
  background: #f6f6f6;
  padding: 10px;
}
#voluntform select:focus {
  outline: 1px solid var(--main-bg-color-1);
}
#voluntform select option {
  color: #000;
}

#voluntform input {
  height: 40px;
  padding: 0 10px;
  background: #f6f6f6;
  border-radius: 4px;
  color: #000;
  font-size: 17px;
  border: none;
}

#voluntform input::placeholder {
  color: #00000a70;
}

#btnenvio {
  width: 200px;
  align-self: center;
  background: var(--main-bg-color-1) !important;
  color: #000 !important;
  border: none !important;
  font-size: 17px;
  transition: all 0.3s;
}

#btnenvio:hover {
  background: #fff !important;
  color: var(--main-bg-color);
}

.volun {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  align-items: center;
  justify-content: space-between;  
}

.gridtxt{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: minmax(200px,auto);
  width: 90%;
  gap: 30px;
  margin-bottom: 10%;
}


.gridtxt article{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gridtxt article figure img{
  width: 80px;
}

.gridtxt article figure{
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: initial;
  height: initial;
  background: initial;
}

.gridtxt article figure::before{
  content: '';
  width: 80%;
  height: 80%;
  background: var(--main-bg-color-1);
  position: absolute;
  z-index: -1;
  border-radius: 100px;
  left: -10px;
  top: -10px;
}

.gridtxt article p{
  text-align: center;
}

.volun figure{
  background-color: var(--main-bg-color-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 90%;
  margin: 30px;
}

.volun figure img{
  width: 400px;
}

.events {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.event {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  flex-direction: column;
}

.event article {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.event article h2 {
  font-size: 3rem;
  color: var(--main-bg-color);
  margin: 0;
  line-height: 1;
}
.event article p {
  font-size: 1.1rem;
}

.event article button {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  padding: 10px;
  border: none;
  background: var(--main-bg-color);
  color: #fff;
  font-weight: 600;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
}

.event article button::before{
  content: '';
  width: 40%;
  height: 110%;
  position: absolute;
  background: var(--main-bg-color-1);
  z-index: 0;
  left: 0;
  transform: skewX(-25deg) translateX(-100%);
  transition: all .6s ease;
}

.event article button:hover::before{
  transform: skewX(-25deg) translateX(250%) ;
}

.eventimg {
  display: flex;
  width: 50vw;
}

.event article span {
  display: flex;
  gap: 6px;
  align-items: center;
}

.event article span img {
  width: 18px;
}

.eventimg {
  display: flex;
  width: 50vw;
  justify-content: flex-end;
}

.corrart {
  width: 49.3vw;
  height: 500px;
  border-bottom: 20px solid var(--main-bg-color);
  border-left: 2px solid var(--main-bg-color);
  border-radius: 0 0 0 4400px;
  background-position: center;
  background-size: cover;
  position: relative;
  background: var(--main-bg-color);
}

#imgcorredor {
  position: absolute;
  width: 99.7%;
  height: 100%;
  border-bottom: 20px solid var(--main-bg-color);
  border-left: 2px solid var(--main-bg-color);
  border-radius: 0 0 0 4400px;
  background-image: linear-gradient(#00000a60, #00000a80),
    url(../imagenes/Fotos/evento.webp);
  background-position: center;
  background-size: cover;
}

/* seccion de la galeria */

.galeria {
  min-height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.corte {
  display: flex;
  width: 50vw;
  overflow: hidden;
}

#carrusel {
  display: flex;
  height: 400px;
  gap: 10px;
  margin: 0;
  align-items: center;
  animation: carrusel 30s linear infinite;
}

#carrusel span {
  content: "";
  width: 300px;
  height: 250px;
  border-radius: 7px;
  background-position: center;
  background-size: 200%;
}

@keyframes carrusel {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.danimate-element {
  opacity: 0;
  transition: opacity 1s ease;
}

.txtGaleria {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
}

.txtGaleria article {
  width: 80%;
}

.txtGaleria strong {
  color: var(--main-bg-color);
}

.txtGaleria h2 {
  color: var(--main-bg-color);
  font-size: 3rem;
  margin: 0;
}
.txtGaleria p {
  font-size: 1.1rem;
}

.txtGaleria button {
  width: 200px;
  padding: 10px;
  border: none;
  background: var(--main-bg-color);
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  z-index: 1;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.txtGaleria button::before{
  content: '';
  position: absolute;
  width: 40%;
  height: 100%;
  transform: skewX(-25deg) translateX(-100%);
  background: var(--main-bg-color-1);
  left: 0;
  transition: all .6s ease;
}

.txtGaleria button:hover::before{
  transform: skewX(-25deg) translateX(250%);
}

/* responsive */

@media (max-width: 760px) {
  .enlaces {
    display: none;
  }

  .txthero {
    width: 100vw;
    text-align: center;
    flex-direction: column;
  }

  #player {
    transform: translateX(-10%);
  }
  .contador img {
    width: 80%;
  }
  .sAlbert {
    flex-direction: column-reverse;
    align-items: center;
    transition: all 10s;
  }

  .txtsAlbert {
    width: 90vw;
    align-items: center;
  }

  .imgalbert {
    width: 70vw;
  }

  .volun {
    flex-direction: column;
    align-items: flex-end;
    min-height: 90vh;
    background-position: 0 40vh;
  }

  .tarjeta {
    width: 100vw;
  }
  .tarjeta article {
    border-radius: 0 0 100px 100px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
  }

  .tarjeta article h2 {
    font-size: clamp(25px, 8vh, 40px);
    text-align: center;
  }
  .tarjeta article p {
    font-size: clamp(18px, 3vh, 28px);
    text-align: center;
  }

  .btnvol {
    align-self: center;
    margin-top: 60px;
  }
  #voluntform {
    width: 80vw;
  }

  .events {
    flex-direction: column-reverse;
    gap: 40px;
    justify-content: flex-end;
  }
  .eventimg {
    width: 100%;
    border-radius: 0 0 400px 0;
  }

  .corrart {
    width: 100%;
    height: 250px;
    border-radius: 0 0 400px 0;
  }

  #imgcorredor {
    border-radius: 0 0 400px 0;
  }
  .event {
    width: 90vw;
  }

  .galeria {
    flex-direction: column;
  }

  .corte {
    width: 100%;
  }

  .txtGaleria {
    width: 90vw;
    margin-bottom: 100px;
  }
}

/* SECCION DEL FOOTER */

#contact {
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 10px;
  background: #fff;
  padding: 40px;

}

.copy{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  font-family: 'GalanLight', sans-serif;
  font-weight: 800;
}

#contact label {
  font-family: "GalanBold", sans-serif;
  color: var(--main-bg-color);
}

.foot {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--main-bg-color);
  padding: 100px 0;
  gap: 20px;
}

.mensajeInfo{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  padding-left: 50px;
  color: #fff;
  font-family: "GalanLight", sans-serif;

}
.mensajeInfo h2, h3, img{
  margin: 0;
}

.mensajeInfo img{
  width: 40px;
}

#contact div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#contact input,
textarea {
  width: 100%;
  height: 20px;
  border-top: none;
  border-right: none;
  border-left:none;
  border-bottom: 1.5px solid #00000a4b;
  color: #542583;
  font-size: 17px;
  height: 30px;
  font-family: 'Galano', sans-serif;
}

#contact textarea {
  height: 80px;
}

#btn-enviar {
  display: flex;
  align-self: center;
  justify-content: center;
  height: 60px !important;
  background: var(--main-bg-color);
  color: #fff !important;
  font-size: 20px !important;
  font-family: "GalanBold", sans-serif;
  margin-top: 20px;
}

#animtext {
  content: "";
  position: relative;
  width: 50vw;
  text-align: left;
  transition: all 0.5s ease;
}

#animtext::before {
  width: 70%;
  font-size: clamp(20px, 8vh, 30px);
  content: "";
  line-height: 1.2;
  animation: animtext 25s linear infinite;
  font-family: 'GalanLight', sans-serif;
  font-weight: 600;
}

@keyframes animtext {
  0% {
    content: "NOS UNE las ganas de trabajar por nuestra ciudad";
  }

  18% {
    content: "NOS UNE las ganas de trabajar por nuestra ciudad";
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  22% {
    opacity: 1;
    content: "Medellín necesita llegar a consensos para lograr grandes transformaciones";
  }

  40% {
    opacity: 1;
    content: "Medellín necesita llegar a consensos para lograr grandes transformaciones";
  }
  42% {
    opacity: 0;
  }
  44% {
    opacity: 1;
    content: "Trabajamos juntos por una transformación incluyente y sostenible";
  }

  62% {
    content: "Trabajamos juntos por una transformación incluyente y sostenible";
    opacity: 1;
  }
  64% {
    opacity: 0;
  }
  66% {
    opacity: 1;
    content: "NOS UNE las ganas de fortalecer el sistema de emprendimiento en Medellín";
  }
  84% {
    opacity: 1;
    content: "NOS UNE las ganas de fortalecer el sistema de emprendimiento en Medellín";
  }
  86% {
    opacity: 0;
  }
  88% {
    opacity: 1;
    content: "NOS UNIMOS por el desarrollo ecónomico de nuestra ciudad";
  }

  98% {
    opacity: 1;
    content: "NOS UNIMOS por el desarrollo ecónomico de nuestra ciudad";
  }
  99% {
    opacity: 0;
  }
  100% {
    content: "NOS UNE las ganas de trabajar por nuestra ciudad";
    opacity: 1;
  }
}

@keyframes foolishIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0) rotate(360deg);
    transform: scale(0, 0) rotate(360deg);
  }

  20% {
    opacity: 1;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(0.5, 0.5) rotate(0deg);
    transform: scale(0.5, 0.5) rotate(0deg);
  }

  40% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scale(0.5, 0.5) rotate(0deg);
    transform: scale(0.5, 0.5) rotate(0deg);
  }

  60% {
    opacity: 1;
    -webkit-transform-origin: 0%;
    transform-origin: 0%;
    -webkit-transform: scale(0.5, 0.5) rotate(0deg);
    transform: scale(0.5, 0.5) rotate(0deg);
  }

  80% {
    opacity: 1;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(0.5, 0.5) rotate(0deg);
    transform: scale(0.5, 0.5) rotate(0deg);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }
}


@keyframes entrada {
  0%{
    clip-path: inset(0 0 96% 0);
  }
  30%{
    clip-path: inset(0 0 64% 0);
  }
  80%{
    clip-path: inset(0 0 38% 0);
  }
  100%{
    clip-path: inset(0 0 0 0);
  }
}

@keyframes swap {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) translate(-700px, 0px);
    transform: scale(0, 0) translate(-700px, 0px);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scale(1, 1) translate(0px, 0px);
    transform: scale(1, 1) translate(0px, 0px);
  }
}



@keyframes vanishIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(90px);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
}

@keyframes spaceInLeft {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: scale(0.2) translate(-200%, 0%);
    transform: scale(0.2) translate(-200%, 0%);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1) translate(0%, 0%);
    transform: scale(1) translate(0%, 0%);
  }
}

@keyframes puffIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
}